QBank.BasicAccountModule/Service References/Proxy/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9999/AccountService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9999/AccountService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9999/AccountService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QBank.Service.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CheckBalanceRequest">
    <wsdl:part name="parameters" element="tns:CheckBalanceRequest" />
  </wsdl:message>
  <wsdl:message name="CheckBalanceResponse">
    <wsdl:part name="parameters" element="tns:CheckBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="WithdrawRequest">
    <wsdl:part name="parameters" element="tns:WithdrawRequest" />
  </wsdl:message>
  <wsdl:message name="WithdrawResponse">
    <wsdl:part name="parameters" element="tns:WithdrawResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="CheckBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/CheckBalance" name="CheckBalanceRequest" message="tns:CheckBalanceRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/CheckBalanceResponse" name="CheckBalanceResponse" message="tns:CheckBalanceResponse" />
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Withdraw" name="WithdrawRequest" message="tns:WithdrawRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/WithdrawResponse" name="WithdrawResponse" message="tns:WithdrawResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckBalance">
      <soap:operation soapAction="http://tempuri.org/IAccountService/CheckBalance" style="document" />
      <wsdl:input name="CheckBalanceRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CheckBalanceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap:operation soapAction="http://tempuri.org/IAccountService/Withdraw" style="document" />
      <wsdl:input name="WithdrawRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="WithdrawResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:9999/AccountService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>