QBank.BasicAccountModule/Service References/Proxy/AccountService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/AccountService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QBank.Service.Model" />
  <xs:element name="CheckBalanceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QBank.Service.Model" minOccurs="0" name="Account" nillable="true" type="q1:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QBank.Service.Model" minOccurs="0" name="Account" nillable="true" type="q2:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>